---
import Layout from '../layouts/Page.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="About Me"
	description="Learn more about my background, experience, and passion for software engineering"
	heroImage={AboutHeroImage}
>
	<p>
		AS A Professional , I am a software Engineer. My experise is on Backend System Designs and i can also work
		on frontend systems.
		I have around 3 yeras of Experience In Software Industry devloping REST API in Microservice arichitecture
		Proficient in Designing complex systems and analyzing their performance.
		
		
	</p>

	<p>
		💡 What sets me apart is a systems-thinking mindset and a focus on clean, efficient, and well-tested code. I thrive in collaborative environments where problem-solving, architecture discussions, and code quality are priorities.
		Being a Developer is tough these days too many things to learn and to know , and AI just made it worse 
		learning and implementing has become fast but the learning part is just missing nowadays only the implementation part is there
		vibe coding is cool , in the end what matters is the work was done.
		Currently, I'm deepening my knowledge in:
		Distributed systems
		Cloud infrastructure (AWS/Azure/GCP)
		Performance optimization and monitoring
		Always open to connect, collaborate, and learn from fellow tech professionals. 🚀
	</p>

	<p>
		This is my personal space where is share and write blogs articles from my own perspective
		and what i feel about some technologies and much more .
		If i found something interesting tips or tricks i do share those,and dont be surprised if you
		found something random here apart from tech, I might write something random stuff or thing if interesting
		well I do and learn things aside from my professional job
		so for some it might get random but thats just me being me XD
	</p>

	<p>
		Mattis ullamcorper velit sed ullamcorper morbi tincidunt. Tortor posuere ac ut consequat semper
		viverra. Tellus mauris a diam maecenas sed enim ut sem viverra. Venenatis urna cursus eget nunc
		scelerisque viverra mauris in. Arcu ac tortor dignissim convallis aenean et tortor at. Curabitur
		gravida arcu ac tortor dignissim convallis aenean et tortor. Egestas tellus rutrum tellus
		pellentesque eu. Fusce ut placerat orci nulla pellentesque dignissim enim sit amet. Ut enim
		blandit volutpat maecenas volutpat blandit aliquam etiam. Id donec ultrices tincidunt arcu. Id
		cursus metus aliquam eleifend mi.
	</p>

	<p>
		Tempus quam pellentesque nec nam aliquam sem. Risus at ultrices mi tempus imperdiet. Id porta
		nibh venenatis cras sed felis eget velit. Ipsum a arcu cursus vitae. Facilisis magna etiam
		tempor orci eu lobortis elementum. Tincidunt dui ut ornare lectus sit. Quisque non tellus orci
		ac. Blandit libero volutpat sed cras. Nec tincidunt praesent semper feugiat nibh sed pulvinar
		proin gravida. Egestas integer eget aliquet nibh praesent tristique magna.
	</p>
</Layout>
