---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BlogPreview from "../components/BlogPreview.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import "../styles/hero.css";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="hero-container">
				<div class="hero-content">
					<h1 class="hero-title"><i>🧑‍🚀 Hi, I am Ankit!</i></h1>
					<div class="hero-text">
						<p>
							I'm a software engineer with a curious mind and a passion for understanding how things work under the hood.
							I love building clean, scalable systems and enjoy solving real-world problems with code.
							Currently, I’m working at <a href="https://pe.solutions/">Pozitive Energy</a>,
							where I focus mainly on backend development and occasionally work on 
							designing robust user interfaces.
							I've spent the last few years working on backend systems and some time on
							frontend designing robust UI.
						</p>
						<p>
							Over the past few years, I've spent my time designing
							both microservices-based architectures and robust
							monolithic systems — mostly for financial domains where
							performance, consistency, and reliability matter most.
						</p>
						<p>
							What excites me is solving real-world problems with
							elegant engineering — whether it's optimizing
							inter-service communication, fine-tuning a PostgreSQL
							query, or containerizing systems for smoother
							deployment. I enjoy thinking in systems, not just
							services.
						</p>
						
						<p>
							Beyond just code, I love sharing what I learn — be it through
							writing, mentoring, or open discussion. I believe great software
							comes from collaboration, curiosity, and craftsmanship.
							<!-- Have fun! If you get stuck, remember to
							<a href="https://docs.astro.build/">read the docs</a>
							or <a href="https://astro.build/chat"
								>join us on Discord</a
							> to ask questions. -->
						</p>
						<p>
							Looking for a blog template with a bit more personality?
							Check out
							<a href="https://github.com/Charca/astro-blog-template"
								>astro-blog-template</a
							>
							by <a href="https://twitter.com/Charca">Maxi Ferreira</a
							>.
						</p>
					</div>
				</div>
				<div class="hero-image-container">
					<div class="hero-image"></div>
				</div>
			</div>
			
			<BlogPreview />
		</main>
		<Footer />
	</body>
</html>
