---
import Layout from '../layouts/Page.astro';
import ProjectsComponent from '../components/Projects.astro';
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
---

<Layout
	title="Projects"
	description="My software engineering projects and contributions"
	heroImage={AboutHeroImage}
>
	<p>
		Here are some of the projects I've worked on throughout my software engineering journey. 
		Each project represents different challenges, technologies, and learning experiences.
	</p>

	<ProjectsComponent />

	<p>
		I'm always working on new projects and learning new technologies. 
		If you'd like to collaborate on something interesting or have questions about any of these projects, 
		feel free to reach out!
	</p>
</Layout> 